uvicorn
fastapi
SQLAlchemy
psycopg2-binary

idna
cryptography
anyio
h11
jupyter
pip
attrs
Pillow
tornado
Jinja2
filelock
PyYAML
sniffio
click
Pygments
rich
certifi
setuptools
ipython
MarkupSafe
starlette
pydantic
requests
websockets
gunicorn
greenlet
psutil
psycopg2
decorator
python-multipart
itsdangerous
packaging
platformdirs